body{
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: antiquewhite;
}


.slider-container{
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0,0,0,.4);
    position: relative;
    
}
.image-container{
    display: flex;
    transition: transform .4s ease-in-out;
}
.btn{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: whitesmoke;
    opacity: .4;
    cursor: pointer;
}
.btn.prev{
    left: 10px;
}
.btn.next{
    right: 10px;
}
.btn:hover{
    opacity: 1;
}