body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
    font-family: sans-serif;
}

.btn{
 background-color: lightcoral;
 padding:20px 40px;
 color: black;
 border-radius: 5px;
 box-shadow: 0 4px 8px rgba(0,0,0,.3);
 text-decoration: none;
 font-size: 20px;
 position: relative;
 overflow: hidden;
}
.btn span{
    position: relative;
    z-index: 1;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: antiquewhite;
    height: 0;
    width: 0;
    left:var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s, height .5s;
}
.btn:hover::before{
    width: 300px;
    height: 300px;
}